@media (min-width: 32rem) {
    body > header > *,
    body > article > section {
        width: 100%;
    }
}
@media (min-width: 48rem) {
    body > header > *,
    body > article > section {
        width: 100%;
    }
}
@media (min-width: 568px) {
    body > header > *,
    body > article > section {
        width: 100%;
    }
    #riley section {
        background-position: 100% 100%;
    }
    #riley_foo {
        left: 83.3333%;
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    body > header > *,
    body > article > section {
        width: 100%;
    }
    #riley section {
        background-position: 100% 100%;
    }
    #riley_foo {
        left: 83.3333%;
        margin-left: 0;
    }
}
@media (min-width: 1024px) {
    body > header > *,
    body > article > section {
        width: 96rem;
    }
    #riley section {
        background-position: 80rem 0;
    }
    #riley_foo {
        margin-left: 48rem;
        background-position: -16rem 0;
    }
}
@media (min-width: 1280px) {
    body > header > *,
    body > article > section {
        width: 115.2rem;
    }
    #riley section {
        background-position: 96rem 0;
    }
    #riley_foo {
        margin-left: 57.6rem;
        background-position: -19.2rem 0;
    }
}
@media (min-width: 1368px) {
    body > header > *,
    body > article > section {
        width: 129.6rem;
    }
    #riley section {
        background-position: 108rem 0;
    }
    #riley_foo {
        margin-left: 64.8rem;
        background-position: -21.6rem 0;
    }
}

