<!DOCTYPE html>
<html lang="en" dir="ltr" xml:lang="en"
prefix="og: http://ogp.me/ns#
fb: http://ogp.me/ns/fb#
foaf: http://xmlns.com/foaf/0.1/
dc: http://purl.org/dc/terms/
v: http://rdf.data-vocabulary.org/#
owl: http://www.w3.org/2002/07/owl#" class="no-js no-touch">

  {% include head.html %}

    <body>

    {% include header.html %}

    {{ content }}

    <div class="page-content">
      <div class="wrap">
      </div>
    </div>

<article role="main">
    <section>
    </section>
</article>

    {% include footer.html %}

    </body>
</html>