---
layout: default
---

<header class="post-header" style="display: none;">
	<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>


<article role="main">
	<div class="content_container">
		<h2>{{ page.title }}</h2>
{{ content }}
		<footer>
			<p><em><time property="dc:created" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %B %Y" }}</time></em><br />
				<em>By: <span property="dc:creator">Jimmy Ha</span><em><br />
				<em>Last updated: <time property="dc:modified" datetime="{{ site.time | date: "%Y-%m-%d" }}">{{ site.time | date: "%-d %B %Y" }}</time></em></p>
		</footer>
	</div>
</article>