{
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "classes": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "strict": [2, "global"],
        "quotes": [1, "single"],
        "consistent-return": 1,
        "no-underscore-dangle": 0,
        "eol-last": 1,
        "react/display-name": [1, { "acceptTranspilerName": true }],
        "react/jsx-uses-react": 1,
        "new-cap": 1,
        "no-new": 1,
        "no-unused-vars": [1, {"args": "all"}],
        "no-shadow": 1,
        "no-undef": 1,
        "no-new": 1,
        "semi": 2
    },
    "plugins": [
        "react"
    ]
}
