<!DOCTYPE html>
<html lang="en" dir="ltr" xml:lang="en"
prefix="og: http://ogp.me/ns#
fb: http://ogp.me/ns/fb#
foaf: http://xmlns.com/foaf/0.1/
dc: http://purl.org/dc/terms/
v: http://rdf.data-vocabulary.org/#
owl: http://www.w3.org/2002/07/owl#" class="no-js no-touch">
<head>
{% include head_boilerplate.html %}
{% include head_coding.html %}
</head>
<body data-module="code_blog" data-google-analytics="UA-37798496-1">

{% include header.html %}

{{ content }}

{% include footer.html %}

<script data-main="/build/js/main" src="/build/js/require.js"></script>
</body>
</html>