
[role="contentinfo"] {
    margin-top: 4rem;
    background-size: 50% 0.5rem;
    background-repeat: no-repeat;

    &, & .bellmaker_container {
        .triple_hr;
        background-position: 0% 0%;
    }

    .bellmaker_container {
        margin: 0 auto;
        padding-top: 0.5rem;
        background-size: 100% 0.5rem;
    }

    section {
        padding-top: 0;

        @media @da_small {
            // should be 39.6rem
            height: round(0.61803 * 10 * ((10 / 12) * @pw_small)) / 10;
        }
        @media @da_medium {
            // should be 39.6rem
            height: round(0.61803 * 10 * ((8 / 12) * @pw_medium)) / 10;
        }
        @media @da_large {
            // should be 47.5rem
            height: round(0.61803 * 10 * ((8 / 12) * @pw_large)) / 10;
        }
        @media @da_x_large {
            // should be 55.4rem
            height: round(0.61803 * 10 * ((8 / 12) * @pw_x_large)) / 10;
        }
        > *:first-child {
            padding-top: 2rem;
        }
    }

}

.creative_commons_license {
    overflow: auto;
    padding-top: 2rem;
    overflow: hidden;

    .creative_commons_image {
        display: block;
        float: left;
        width: 8.8rem;
        height: 3.1rem;
        margin: 0.5rem 0.5rem 0.4rem 0;
    }
    > span {
        display: block;
    }
}

#social_linking {
    svg {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0;
        padding: 0;
    }
}