@footer_bg_padding_bottom: 3rem;

[role="contentinfo"] {
    margin-top: 4rem;
    background-size: 50% 0.5rem;
    background-repeat: no-repeat;

    &, & .bellmaker_container {
        .triple_hr;
        background-position: 0% 0%;
    }

    .bellmaker_container {
        margin: 0 auto;
        padding-top: 0.5rem;
        background-size: 100% 0.5rem;
    }

    section {
        padding-top: 0;

        @media @da_small {
            // should be 39.6rem
            // height: round(0.61803 * 10 * ((10 / 12) * @pw_small)) / 10;
            height: 64rem + @footer_bg_padding_bottom;
        }
        @media @da_medium {
            // should be 39.6rem
            // height: round(0.61803 * 10 * ((8 / 12) * @pw_medium)) / 10;
            height: 64rem + @footer_bg_padding_bottom;
        }
        @media @da_large {
            // should be 47.5rem
            // height: round(0.61803 * 10 * ((8 / 12) * @pw_large)) / 10;
            height: 48rem + @footer_bg_padding_bottom;
        }
        @media @da_x_large {
            // should be 55.4rem
            // height: round(0.61803 * 10 * ((8 / 12) * @pw_x_large)) / 10;
            height: 41rem + @footer_bg_padding_bottom;
        }
        > *:first-child {
            padding-top: 2rem;
        }
    }

}
#footer_background {
    background-repeat: no-repeat;
}

.creative_commons_license {
    overflow: auto;
    padding-top: 2rem;
    overflow: hidden;

    .creative_commons_image {
        display: block;
        float: left;
        width: 8.8rem;
        height: 3.1rem;
        margin: 0.5rem 0.5rem 0.4rem 0;
    }
    > span {
        display: block;
    }
}
// google plus svg icon: https://www.iconfinder.com/icons/107160/circle_google_icon#size=128
#social_linking {
    li {
        margin-left: 0.2rem;

        &:first-child {
            margin-left: -0.4rem;
        }
        > a {
            width: 3rem;
            height: 3rem;
            padding: 0.5rem 0.4rem;

            &:link, &:visited {
                svg {
                    fill: @code_grey_medium;
                }
            }
            &:hover {
                svg {
                    fill: @code_a_hover;
                }
            }
        }
    }
    svg {
        width: 3rem;
        height: 3rem;
        margin: 0;
        padding: 0;
    }
}