[role="banner"] {
    background-size: 50% 0.5rem;
    background-repeat: no-repeat;

    @media @da_baseline {
        h1 {
            padding: 2rem 2rem 2rem 1rem;
            line-height: 5rem; 
        }
    }
    @media @da_2x_small {
        height: 12rem;

        h1 {
            padding: 3rem 0 0 (1 / 12) * @pw_2x_small;
            line-height: 8rem;
        }
        .bellmaker_container {
            height: 12rem;
        }
    }
    &, & .bellmaker_container {
        .triple_hr;
        background-position: 0% 100%;
    }
    .bellmaker_container {
        margin: 0 auto;
        background-size: 100% 0.5rem;
    }
    h1 {
        font-weight: 300;
        font-size: 4rem;
        text-transform: uppercase;

        @media @da_x_small {
            padding: 3rem 0 0 2rem;
        }
        @media @da_medium {
            padding: 3rem 0 0 0rem;
        }
        a:link, a:visited {
            color: #000;
        }
        a:hover {
            color: @code_a_hover;
        }
    }
}