
html {
    background-image:
        linear-gradient(90deg, #FFF 50%, @code_grey_light 50%);

}
body {
    min-height: 100%;
    background-position: center center; 
    background-repeat: repeat-y;
    font-family: 'Open Sans', sans-serif;


    @media @da_baseline {
        background-image:
            linear-gradient(90deg, #FFF (11 / 12) * @pw_baseline, @code_grey_light (11 / 12) * @pw_baseline);
        background-size: @pw_baseline 1rem;
    }
    @media @da_2x_small {
        background-image:
            linear-gradient(90deg, #FFF (11 / 12) * @pw_2x_small, @code_grey_light (11 / 12) * @pw_2x_small);
        background-size: @pw_2x_small 1rem;
    }
    @media @da_x_small {
        background-image:
            linear-gradient(90deg, #FFF (11 / 12) * @pw_x_small, @code_grey_light (11 / 12) * @pw_x_small);
        background-size: @pw_x_small 1rem;
    }
    @media @da_small {
        background-image:
            linear-gradient(90deg, #FFF (11 / 12) * @pw_small, @code_grey_light (11 / 12) * @pw_small);
        background-size: @pw_small 1rem;
    }
    @media @da_medium {
        background-image:
            linear-gradient(90deg, #FFF (10 / 12) * @pw_medium, @code_grey_light (10 / 12) * @pw_medium);
        background-size: @pw_medium 1rem;
    }
    @media @da_large {
        background-image:
            linear-gradient(90deg, #FFF (10 / 12) * @pw_large, @code_grey_light (10 / 12) * @pw_large);
        background-size: @pw_large 1rem;
    }
    @media @da_x_large {
        background-image:
            linear-gradient(90deg, #FFF (10 / 12) * @pw_x_large, @code_grey_light (10 / 12) * @pw_x_large);
        background-size: @pw_x_large 1rem;
    }

}

a:link {
    color: @code_a_link;
}
a:visited {
    color: @code_a_visited;
}
a:hover {
    color: @code_a_hover;
}


article, [role="contentinfo"] {

    h2, h3, h4, p, ul, ol, figure.floated_figure {
        @media @da_small {
            padding-right: 2rem;
        }
        @media @da_medium {
            padding-right: (1 / 12) * @pw_medium;
        }
        @media @da_large {
            padding-right: (1 / 12) * @pw_large;
        }
        @media @da_x_large {
            padding-right: (1 / 12) * @pw_x_large;
        }
    }
    figcaption * {
        padding-right: 0;
    }
    h2 {
        font-weight: 300;
        font-size: 2.8rem;
        line-height: 4rem;
        padding-bottom: 1rem;

        a:link, a:visited {
            color: #000;
        }
        a:hover {
            color: @code_a_hover;
        }
    }
    h3 {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        padding: 0 0 0rem 0; 
    }
    h4 {
        font-weight: 700;
        font-style: italic;
        .font_standard;
    }
    p, li {
        .font_standard;
    }
    p {
        margin: 0 0 2rem 0;
    }
    strong {
        font-weight: 700;
    }
    ul, ol {
        margin: 0 0 2rem 0;

        ul, ol {
            margin: 0;
            padding: 0 0 0 2rem;
        }
    }
}


// spefically child elements of articles -------
// ---------------------------------------------
article {
    > h2 {
        display: none;
    }
    // code
    code {
        .font_standard;
    }
    .highlight {
        // margin: 0.5rem 2rem 1.5rem 0;
        // border: 0.1rem solid @code_grey_medium_light;
        margin: 0 2rem 1rem 0;

        pre {
            margin: 0;
            padding: 0.5rem 0;
        }
    }
}




section, .content_container {
    margin: 0 auto;

    @media @da_baseline {
        padding: 2rem (1 / 12) * @pw_baseline 0;
        width: (10 / 12) * @pw_baseline;
    }
    @media @da_2x_small {
        padding: 2rem (1 / 12) * @pw_2x_small 0;
        width: (10 / 12) * @pw_2x_small;
    }
    @media @da_x_small {
        padding: 2rem (1 / 12) * @pw_x_small 0;
        width: (10 / 12) * @pw_x_small;
    }
    @media @da_small {
        padding: 2rem (1 / 12) * @pw_small 0;
        width: (10 / 12) * @pw_small;
    }
    @media @da_medium {
        padding: 2rem (2 / 12) * @pw_medium 0;
        width: (8 / 12) * @pw_medium;
    }
    @media @da_large {
        padding: 2rem (2 / 12) * @pw_large 0;
        width: (8 / 12) * @pw_large;
    }
    @media @da_x_large {
        padding: 2rem (2 / 12) * @pw_x_large 0;
        width: (8 / 12) * @pw_x_large;
    }
    hr:last-child {
        margin-top: 3.5rem;
        margin-bottom: 0.2rem;
    }
    &:last-child {
        hr {
            display: none;
        }
    }
    &:only-child {
        hr {
            display: block;
        }
    }
}

hr {
    margin: 0 0 1.7rem 0;
    padding: 0.1rem 0 0 0;
    border-width: 0;
    border-top: 0.1rem solid @code_grey_medium_light;
    border-bottom: 0.1rem solid @code_grey_medium_light;
    @media @da_small {
        margin-right: (2 / 12) * @pw_small;
    }
    @media @da_medium {
        margin-right: (2 / 12) * @pw_medium;
    }
    @media @da_large {
        margin-right: (2 / 12) * @pw_large;
    }
    @media @da_x_large {
        margin-right: (2 / 12) * @pw_x_large;
    }
}

// figures -------------------------------------
// ---------------------------------------------
figure {
    margin: 0 0 2rem 0;

    img {
        @media @da_baseline {
            width: @pw_baseline;
        }
        @media @da_2x_small {
            width: @pw_x_small;
        }
        @media @da_2x_small {
            width: @pw_x_small;
        }
        @media @da_small {
            width: (10 / 12) * @pw_small;
        }
        @media @da_medium {
            width: (3 / 12) * @pw_medium;
        }
        @media @da_large {
            width: (3 / 12) * @pw_large;
        }
        @media @da_x_large {
            width: (3 / 12) * @pw_x_large;
        }

    }
    &.floated_figure {
        float: right;
        margin-left: 2rem;

        & + * + * {
            clear: both;
        }
    }
}



// tables --------------------------------------
// ---------------------------------------------
table {
    margin: 0 2rem 1.9rem 0;
    border: 0.1rem solid @code_grey_medium_light;

    // @media @da_medium {
    //     margin: 0  (1 / 12) * @pw_medium 2rem;
    // }
    th {
        text-align: left;
    }
    th, td {
        padding: 0.5rem 1rem 0.4rem;
        vertical-align: top;
        .font_standard;
        &:first-child {
            padding-left: 0.9rem;
        }
        &:last-child {
            padding-left: 0.4rem;
        }
    }
    td {
        border-top: 0.1rem solid @code_grey_medium_light;
    }
    p {
        margin: 0;
        // inline code
        > code {
            background-color: @code_grey_light;
            padding: 0.5rem;
        }
    }
    &.smalltext_table {
        td {
            .font_subtext;
        }
    }
    &.wide_table {

    }
}