
html {
    background-image:
        linear-gradient(90deg, #FFF 50%, #F5F5F5 50%);

}
body {
    min-height: 100%;
    background-position: center center; 
    background-repeat: repeat-y;
    font-family: 'Open Sans', sans-serif;


    @media @mq_baseline {
        background-image:
            linear-gradient(90deg, #FFF (11 / 12) * @pw_baseline, #F5F5F5 (11 / 12) * @pw_baseline);
        background-size: @pw_baseline 1rem;
    }
    @media @mq_2x_small {
        background-image:
            linear-gradient(90deg, #FFF (11 / 12) * @pw_2x_small, #F5F5F5 (11 / 12) * @pw_2x_small);
        background-size: @pw_2x_small 1rem;
    }
    @media @mq_x_small {
        background-image:
            linear-gradient(90deg, #FFF (11 / 12) * @pw_x_small, #F5F5F5 (11 / 12) * @pw_x_small);
        background-size: @pw_x_small 1rem;
    }
    @media @mq_small {
        background-image:
            linear-gradient(90deg, #FFF (10 / 12) * @pw_small, #F5F5F5 (10 / 12) * @pw_small);
        background-size: @pw_small 1rem;
    }
    @media @mq_medium {
        background-image:
            linear-gradient(90deg, #FFF (10 / 12) * @pw_medium, #F5F5F5 (10 / 12) * @pw_medium);
        background-size: @pw_medium 1rem;
    }
    @media @mq_large {
        background-image:
            linear-gradient(90deg, #FFF (10 / 12) * @pw_large, #F5F5F5 (10 / 12) * @pw_large);
        background-size: @pw_large 1rem;
    }
    @media @mq_x_large {
        background-image:
            linear-gradient(90deg, #FFF (10 / 12) * @pw_x_large, #F5F5F5 (10 / 12) * @pw_x_large);
        background-size: @pw_x_large 1rem;
    }

}
[role="banner"], [role="main"], [role="contentinfo"] {
    @media @mq_baseline {
    }
    @media @mq_2x_small {
        }
        @media @mq_x_small {
        }
        @media @mq_small {
        }
        @media @mq_medium {
        }
        @media @mq_large {
        }
        @media @mq_x_large {
        }
}
@code_hr_color: #D9D9D9;

[role="banner"] {
    height: 12rem;
    background-size: 50% 0.5rem;
    background-repeat: no-repeat;

    &, & .bellmaker_container {
        background-image:
            linear-gradient(0deg, @code_hr_color 0%, @code_hr_color 20%, transparent 20%, transparent 40%, 
                @code_hr_color 40%, @code_hr_color 60%, transparent 60%, transparent 80%, @code_hr_color 80%);  
        background-position: 0% 100%; 
        background-repeat: no-repeat;
    }

    .bellmaker_container {
        height: 12rem;
        margin: 0 auto;

        background-size: 100% 0.5rem;
    }
    h1 {
        padding-top: 3rem;
        font-weight: 300;
        font-size: 4rem;
        line-height: 8rem;
        text-transform: uppercase;
    }
}
[role="main"] {

    section {
        margin: 0 auto;
        @media @mq_baseline {
            padding: 2rem (1 / 12) * @pw_baseline 0;
            width: (10 / 12) * @pw_baseline;
        }
        @media @mq_2x_small {
            padding: 2rem (1 / 12) * @pw_2x_small 0;
            width: (10 / 12) * @pw_2x_small;
        }
        @media @mq_x_small {
            padding: 2rem (1 / 12) * @pw_x_small 0;
            width: (10 / 12) * @pw_x_small;
        }
        @media @mq_small {
            padding: 2rem (1 / 12) * @pw_small 0;
            width: (10 / 12) * @pw_small;
        }
        @media @mq_medium {
            padding: 2rem (2 / 12) * @pw_medium 0;
            width: (8 / 12) * @pw_medium;
        }
        @media @mq_large {
            padding: 2rem (1 / 12) * @pw_large 0;
            width: (8 / 12) * @pw_large;
        }
        @media @mq_x_large {
            padding: 2rem (1 / 12) * @pw_x_large 0;
            width: (8 / 12) * @pw_x_large;
        }
    }
    h2 {
        font-weight: 300;
        font-size: 2.8rem;
        line-height: 4rem;
        padding: 0 0 1rem 0;
    }
    p, li {
        .font_standard;
    }
    p {
        margin: 0 0 2rem 0;
    }
    strong {
        font-weight: 700;
    }
}
[role="contentinfo"] {
}