.hljs-comment {
    color: #998;
}
.hljs-doctype {
    font-weight: bold;
    color: #999;
}
.hljs-title {
    color: #000080;
}

.hljs.css {
    .hljs-tag, .hljs-class {
        color: #000080;
        font-weight: bold;
    }
}

.hljs-attribute {
    color: #008080;
}

.hljs-string, .hljs-value {
    color: #D14;
}

.hljs-keyword {
    font-weight: bold;
}
.hljs-built_in {
    color: #0086b3;
}
