<!doctype html>
<html lang="en" dir="ltr" xml:lang="en" class="no-js"
      prefix="og: http://ogp.me/ns#
fb: http://ogp.me/ns/fb#
foaf: http://xmlns.com/foaf/0.1/
dc: http://purl.org/dc/terms/
v: http://rdf.data-vocabulary.org/#
owl: http://www.w3.org/2002/07/owl#">

{{> header}}

<body>
<div class="main-wrapper">
    {{{ snippet }}}
{{{ contents }}}
</div>

</body>
</html>
