---
layout:         default
description:    Coding articles by Jimmy Ha, including open-source projects, front-end tutorials, and UX discussion
tags:           coding
---


<article class="text_container">
	<h2>Articles</h2>
    {% sorted_for post in site.posts reversed sort_by:modified %}
    <section>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{% if post.repo_title %}{{ post.repo_title }}{% else %}{{ post.title }}{% endif %}</a></h2>
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">Continue Reading &raquo;</a></p>
	    <hr />
    </section>
    {% endsorted_for %}
</article>

<!--
	    {% for post in site.posts %}
	     {% endfor %}
FEED URL: {{ "/feed.xml" | prepend: site.baseurl }}
-->