---
layout: default
---


<article>
    <section>
        <h2><a href="/code/bellmaker/">Bellmaker</a></h2>

        <p>The Bellmaker is a library of <strong>device-agnostic</strong> and <strong>device-specific</strong> media queries that will complement your exisiting CSS.</p>

        <ul>
            <li>It will help you make <em>responsive websites</em>, especially if you are using grid layouts.</li>
            <li>It is free to use and modify as you please.</li>
            <li>Both LESS (.less) and SASS (.scss) versions are available.</li>
        </ul>

        <p><a href="/code/bellmaker/">Continue Reading &raquo;</a></p>
    </section>
    <section>
        <h2><a href="/code/mossflower/">Mossflower</a></h2>

        <p>Mossflower is a <strong>global reset</strong> CSS utility for both LESS and SASS!</p>

        <ul>
            <li>Both robust and bare-bones; you won't find yourself fighting against this utility.</li>
            <li>It is free to use and modify as you please.</li>
            <li>It helps you spin up new web applications faster by <em>reducing boilderplate CSS</em>.</li>
        </ul>

        <p><a href="/code/mossflower/">Continue Reading &raquo;</a></p>
    </section>
    {% for post in site.posts %}
    <section>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

        {{ post.excerpt }}

        <p><a href="{{ post.url | prepend: site.baseurl }}">Continue Reading &raquo;</a></p>
    </section>
    {% endfor %}
</article>


<div class="home" style="display: none;">

  <h1>Posts</h1>

  <ul class="posts" style="display: none;">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
