

#link_of_the_day {

    .bellmaker_container {
        @media @da_small {
            width: 64rem;
        }
    }

    article {
        h3 {
            .font_heading;
            font-weight: 400;
        }
        p {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}