
<div id="link_of_the_day">

    <header role="banner" class="bellmaker_container">
        <h1>Link of the Day</h1>
        <p>The most interesting article I&rsquo;ve seen or read for each day of the year.</p>
        <p>By <a href="/" title="Here, Read This">Here, Read This</a></p>
    </header>

    <div class="bellmaker_container">
        <aside>
            <h2>Sort</h2>
            <h3>Source</h3>
            <p><a href ng-click="filterSorceType('sourceType')">Alphabetical
                        <span>&uarr;</span>
                        <span>&darr;</span>
                </a> |
                <a href ng-click="filterSorceType('count')">Count
                        <span>&uarr;</span>
                        <span>&darr;</span>
                </a>
            </p>
            
            <ul class="filter_sorts source_type_sort">
                <li>
                    <a href ng-click="filterSource()"><span>All Source Types</span></a>
                    <span class="source_sort_count">({{ sourceSize }})</span>
                </li>
                <li ng-repeat="sourceType in sourceTypeObject | orderBy:sourceTypeFilter">
                    <a href ng-click="filterSourceType(sourceType.sourceType)"><span ng-bind-html="sourceType.sourceType"></span></a>
                    <span class="source_sort_count">({{ sourceType.count}})</span>
                </li>
            </ul>
            <h3>Publication</h3>
            <p><a href ng-click="filterSorce('source')">Alphabetical</a> |
                <a href ng-click="filterSorce('count')">Count</a></p>
            <ul class="filter_sorts source_sort">
                <li>
                    <a href ng-click="filterSource()"><span>All Sources</span></a>
                    <span class="source_sort_count">({{ sourceSize }})</span>
                </li>
                <li ng-repeat="source in sourceObject | orderBy:sourceFilter">
                    <a href ng-click="filterSource(source.source)"><span ng-bind-html="source.source"></span></a>
                    <span class="source_sort_count">({{ source.count}})</span>
                </li>
            </ul>
        </aside>
        <div id="article_container">
            <article data-ng-repeat="story in linkData | filter:query">
                <time class="article_date_short">{{ story.date | date: 'd MMM yyyy' }}</time>
                <time class="article_date_long">{{ story.date | date: 'EEE, d MMMM yyyy' }}</time>
                <div>
                    <h3 ng-bind-html="story.title"></h3>
                    <span ng-if="mediaExists(story.image)">
                        <image width="100%" ng-src="{{ story.image }}" />
                        <p class="media_credit" ng-if="mediaExists(story.imageCredit)"><em>Image credit:
                            <span ng-bind-html="story.imageCredit"></span></em>
                        </p>
                    </span>
                    <span ng-if="mediaExists(story.video)">
                        <object ng-if="checkVideo(story.video,'youtube')"
                                width="640" height="360"
                                data="{{ story.video }}"></object>
                        <iframe ng-if="checkVideo(story.video,'embed')"
                            src="{{ story.video }}"
                            width="640" height="360" frameborder="0"></iframe>
                        <p class="media_credit" ng-if="mediaExists(story.videoCredit)"><em>Video credit:
                            <span ng-bind-html="story.videoCredit"></span></em>
                        </p>
                    </span>
                    <div ng-bind-html="story.summary">
                    </div>
                    <p>Source: <a href="{{ story.url }}" title="{{ story.title }}" ng-bind-html="story.source"></a></p>
                </div>
            </article>
        </div>
    </div>
</div>

