
<div id="link_of_the_day">

    <header role="banner" class="bellmaker_container">
        <h1>Link of the Day</h1>
        <p>By <a href="/" title="Here, Read This">Here, Read This</a></p>
    </header>

    <div class="bellmaker_container">
        <aside>
            <h2>Sort</h2>
            <h3>Source</h3>
            <ul>
                <li ng-repeat="story in linkData">
                    <span>{{ story.source }}</span>
                </li>
            </ul>
        </aside>
        <article data-ng-repeat="story in linkData">
            <time>{{ story.date | date: 'd MMM yyyy' }}</time>
            <div>
                <h3 ng-bind-html="story.title"></h3>
                <div ng-bind-html="story.summary">
                </div>
                <p>Source: <a href="{{ story.url }}" title="{{ story.title }}">{{ story.source }}</a></p>
            </div>
        </article>
    </div>
</div>
