

#link_of_the_day {

    .bellmaker_container {
        @media @da_small {
            width: 64rem;
        }
    }

    h1 {
        font-size: 4.5rem;
        line-height: 6.3rem;
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
    }

    article {
        h3 {
            font-size: 3.6rem;
            line-height: 4.5rem;
            font-weight: 400;
            font-family: 'Josefin Sans', sans-serif;
        }
        p {
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 2.7rem;
            font-family: 'Arvo', serif;
        }
    }
}