
// mossflower is a global reset
@import "../components/mossflower/src/less/main.less";

// Bellmaker is the master of media queries
@import "../components/bellmaker/src/less/bellmaker.less";

// Bellmaker is the master of media queries
@import "global_variables.less";

@font-face {
    font-family: 'glamor-bold_extended';
    src: url('@{font_path}glamor-bold_extended.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;

    h1 {
        display: none;
    }
}

h1 {
    display: none;
}
h2 {
    font-weight: normal;
    font-family: "glamor-bold_extended";

    @media @da_baseline {
        padding: 2rem 0 0 2rem;
        font-size: 8rem;
        line-height: 8rem;
    }
    @media @da_2x_small {
        padding: 3rem 0 0 2rem;
        font-size: 8rem;
        line-height: 8rem;
    }
    @media @da_x_small {
        padding: 5rem 0 0 2rem;
        font-size: 8rem;
        line-height: 8rem;
    }
    @media @da_small {
        padding: 6rem 0 0 3rem;
        font-size: 12rem;
        line-height: 12rem;
    }
    @media @da_medium {
        padding: 7rem 0 0 4rem;
        font-size: 16rem;
        line-height: 16rem;
    }
    @media @da_large {
        padding: 8rem 0 0 5rem;
        font-size: 20rem;
        line-height: 20rem;
    }
    @media @da_x_large {
        padding: 9rem 0 0 6rem;
        font-size: 24rem;
        line-height: 24rem;
    }
}
p {
    @media @da_baseline {
        .font_standard;
        padding: 0 0 1rem 2rem;
    }
    @media @da_2x_small {
        padding: 0 0 1rem 2rem;
    }
    @media @da_x_small {
        padding: 0 0 1rem 2rem;
    }
    @media @da_small {
        padding: 0 0 1rem 3rem;
    }
    @media @da_medium {
        padding: 0 0 1rem 4rem;
    }
    @media @da_large {
        padding: 0 0 1rem 5rem;
    }
    @media @da_x_large {
        padding: 0 0 1rem 6rem;
    }

}


#wrapper_404 {
    width: 100%;
    height: 100%;
}

#container_404 {
    margin: 0 auto;

    @media @da_baseline {
        width: @pw_baseline;
        display: block;
    }
    @media @da_small {
        width: @pw_small;
        display: table;
        height: 100%;
    }
    @media @da_medium {
        width: @pw_medium;
    }
    @media @da_large {
        width: @pw_large;
    }
    @media @da_x_large {
        width: @pw_x_large;
    }
    section {
        margin: 0 auto;
        overflow: auto;
        background-image:
            linear-gradient(0deg, @wlg 0%, @wlg 100%),
            linear-gradient(0deg, @wlg 0%, @wlg 100%),
            linear-gradient(0deg, @wdg 0%, @wdg 100%),
            linear-gradient(0deg, @wdg 0%, @wdg 100%);
        background-repeat: no-repeat;
        background-position: 
            100% 0,
            0 100%,
            0 0,
            0 0;

        @media @da_baseline {
            background-size: 
                0.4rem 100%,
                100% 0.4rem,
                100% 0.4rem,
                0.4rem 100%;
        }
        @media @da_2x_small {
            background-size:
                0.6rem 100%,
                100% 0.6rem,
                100% 0.6rem,
                0.6rem 100%;
        }
        @media @da_x_small {
            background-size:
                0.8rem 100%,
                100% 0.8rem,
                100% 0.8rem,
                0.8rem 100%;
        }
        @media @da_small {
            background-size:
                1rem 100%,
                100% 1rem,
                100% 1rem,
                1rem 100%;
        }
        @media @da_medium {
            background-size:
                1rem 100%,
                100% 1rem,
                100% 1rem,
                1rem 100%;
        }
        @media @da_large {
            background-size: 
                1.2rem 100%,
                100% 1.2rem,
                100% 1.2rem,
                1.2rem 100%;
        }
        @media @da_x_large {
            background-size: 
                1.4rem 100%,
                100% 1.4rem,
                100% 1.4rem,
                1.4rem 100%;
        }
    }
}
#table_404 {

    @media @da_baseline {
        display: block;
    }
    @media @da_small {
        width: @pw_small;
        display: table-cell;
        vertical-align: middle;
    }
}
#broken_image_404, #broken_image_404 div {

    @media @da_baseline {
        width: 14rem;
        height: 16rem;
    }
    @media @da_2x_small {
        width: 21rem;
        height: 24rem;
    }
    @media @da_x_small {
        width: 28rem;
        height: 32rem;
    }
    @media @da_small {
        width: 35rem;
        height: 40rem;
    }
    @media @da_medium {
        width: 35rem;
        height: 40rem;
    }
    @media @da_large {
        width: 42rem;
        height: 48rem;
    }
    @media @da_x_large {
        width: 49rem;
        height: 56rem;
    }
}
#broken_image_404 {
    float: left;
}
#info_404 {
    float: left;
    @media @da_baseline {
    }
    @media @da_2x_small {
    }
    @media @da_x_small {
    }
    @media @da_small {
        width: 41.8rem;
    }
    @media @da_medium {
        width: 43rem;
    }
    @media @da_large {
        width: 73.2rem;
    }
    @media @da_x_large {
        width: 85.4rem;
    }

}

