.starfield {
    // background: transparent url("@{img_path}space_bg.gif") repeat scroll 0 bottom; 
    background-image: url("@{img_path}space_bg.gif");
}



.before_text_1 {
    &:before {
        content: "<FONT SIZE=\"4\"";
        font-weight: normal;
    }
}


[data-module="hit_counter"] {
    padding: 1rem 0;
    margin: 0 auto;
    text-align: center;
    display: table;
    border-spacing: 0;
    width: auto;
    p {
        color: #FF0;
        padding: 0 0.5rem;
    }
    > div {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

#hit_counter {
    position: relative;
    padding: 1px;
    z-index: 6;
    overflow: auto;
    border: 1px solid #808080;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #C0C0C0 #404040 #404040 #C0C0C0;
    box-shadow: 
        inset 0px 0px 0 1px #808080;

    div {
        width: 2rem;
        height: 3.6rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: #404040 #C0C0C0 #C0C0C0 #404040;
        float: left;
        font-family: "courier new", "courier", monospace;
        color: #0F0;
        font-size: 2rem;
        line-height: 2rem;
        // padding: 0.3rem 0 0.2rem 0;
        background-color: #000;
        text-align: center;
    }
}


#email_joke {
    p {
        color: #FF0;
        padding: 0 0.5rem;
    }
    @media @da_baseline {
        display: block;
        position: relative;
        height: 5rem;
        margin-left: 1rem;
        width: 31rem;

        > div {
            position: absolute;
            display: block;
            text-align: left;
            left: 4rem;
        }
        div.icon_box {
            left: 0;
            margin-top: 0.5rem;

            + div {
                top: 2.5rem;
            }
        }
        + * {
            clear: both;
        }
    }
    @media @da_2x_small {
        margin: 0 auto;
        height: auto;
        text-align: center;
        display: table;
        width: auto;

        > div {
            position: static;
            float: none;
            display: table-cell;
            vertical-align: top;
            padding-top: 1.5rem;
        }
        div.icon_box {
            padding-top: 0;
            margin-top: 0;
        }
    }
}

.geocities_me {
    h3, p, li {
        color: #FF0;
    }
    h3 {
        font-size: 2rem;
        line-height: 3rem;
    }
    p, li {
        font-size: 1.5rem;
        line-height: 2.0rem;
    }
    ul {
        padding: 0 0 2rem 0;
    }
    li {
        padding: 0 0 0rem 2rem;
        list-style-type: none;
        // list-style-position: inside;
        // list-style-image: url("@{img_path}ball_14x14.gif");
        background: transparent  url("@{img_path}ball_14x14.gif") scroll no-repeat 0 0.2rem;
    }
}

.cinnamon_fantasy {
    &:after {
        content: "";
        display: block;
        background: transparent url("@{img_path}unicorn_673x150.jpg") scroll repeat 0% 0%;
        height: 7.5rem;
        background-size: 33.65rem 7.5rem;
    }
}


.icon_box {
    width: 4rem;
    height: 4rem;
    background-image:
        linear-gradient(0deg, #BEBEBE 0%, #BEBEBE 100%),
        linear-gradient(0deg, #E6E6FA 0%, #E6E6FA 100%),
        linear-gradient(0deg, #E6E6FA 0%, #E6E6FA 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #BEBEBE 0%, #BEBEBE 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #E6E6FA 0%, #E6E6FA 100%);
    background-size:
        3.2rem 3.2rem, 3.4rem 0.1rem, 0.1rem 3.4rem, 3.4rem 3.4rem, 3.6rem 3.6rem,
        4rem 0.1rem, 3.8rem 0.1rem, 0.1rem 4rem, 0.1rem 3.8rem, 4rem 4rem;
    background-position:
        0.4rem 0.4rem, 0.3rem 3.6rem, 3.6rem 0.3rem, 0.3rem 0.3rem, 0.2rem 0.2rem,
        0rem 3.9rem, 0.1rem 3.8rem, 3.9rem 0rem, 3.8rem 0.1rem, 0 0;
    background-repeat: no-repeat;
}

@icon_size_retina: 10rem 20rem;
@icon_size_full: 20rem 40rem;
[data-sprite] {
    background-image: url("@{img_path}icon_logo_sprites.png");
    background-repeat: no-repeat;
}
[data-sprite="email"] {
    background-position: 0 0;
    background-size: @icon_size_retina;
    width: 3.2rem;
    height: 3.2rem;

    .icon_box & {
        width: 4rem;
        height: 4rem;
        background-position: 0.4rem 0.4rem;
    }
}
[data-sprite="netscape_8831"] {
    background-size: @icon_size_retina;
    width: 8.8rem;
    height: 3.1rem;
    background-position: 0rem -10rem;
}
[data-sprite="broken_image"] {
    background-size: @icon_size_retina;
    background-position: 0.3rem -4.7rem;
    width: 31px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: @wdg @wlg @wlg @wdg;
    padding: 0.3rem 0.4rem 0.3rem 0.3rem;

}
[data-sprite="tripod_125x71"] {
    background-size: @icon_size_full;
    width: 12.5rem;
    height: 7.1rem;
    background-position: 0rem -30rem;
}



.centered_image {
    margin: 0 auto;

    img, [data-sprite] {
        margin: 0 auto;
        max-width: 100%
    }
}
.with_border {
    img {
        border: 0.2rem solid #00F;
        padding: 0.3rem;
    }
}

.rainbow_gradient {
    background-image: linear-gradient(90deg, #000020 0%, #000871 5%, #0021c2 10%, #004ff7 15%,
            #008dff 20%, #00cad9 25%, #01f88f 30%, #00ff3f 35%, #00f609 40%, #00d400 45%,
            #00a400 50%, #0a6900 55%, #502a00 60%, #a80000 65%, #f80000 70%, #ff0000 75%,
            #ff1400 80%, #ff8c00 85%, #ffe600 90%, #ffff2e 95%, #FFFFFF 100%);
}

.dancing_baby {
    margin: 0 auto;
    background-image: url("@{img_path}dancing_baby_170x230.gif");

    @media @da_baseline {
        width: 8.5rem;
        height: 11.5rem;
        background-size: 8.5rem 11.5rem;
    }
    @media @da_2x_small {
        width: 10.2rem;
        height: 13.8rem;
        background-size: 10.2rem 13.8rem;
    }
    @media @da_small {
        width: 17rem;
        height: 23rem;
        background-size: 17rem 23rem;
    }

    body > header & {
        position: absolute;
        top: 0;
        @media @da_baseline {
            right: 0;
        }
        @media @da_medium {
            right: auto;
            left: 50%;
            margin-left: (@pw_medium / 2) - 17;
        }
        @media @da_large {
            margin-left: (@pw_large / 2) - 17;
        }
        @media @da_x_large {
            margin-left: (@pw_large / 2) - 17;
        }
    }
}

.old_school_table {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #CCC #515151 #515151 #CCC;
    border-spacing: 0.5rem;
    border-collapse: separate;

    tr {
    }
    td {
        display: block; 
        text-align: center;
        padding: 0.5rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: #515151 #CCC #CCC #515151;
    }
    @media @da_baseline {
        dispalay: block;
        width: 100%;

        tr, td {
            display: block;
        }
        td {
            margin-bottom: 0.5rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
        img {
            max-width: 100%;
        }
    }
    @media @da_x_small {
        display: table;

        tr {
            display: table-row;
        }
        td {
            display: table-cell;
            margin-bottom: 0;
        }
        img {
            width: auto;
        }
    }
}



[data-module="social_fu"] {
    overflow: auto;
    padding: 2rem 0;

    li {
        display: block;
        float: left;
        box-sizing: border-box;
        span {
            display: block;
        }
        > span {
            position: relative;
            z-index: 5;
            font-size: 2rem;
            line-height: 2.5rem;
            margin: 0 1rem;
            padding: 0;
            font-weight: bold;
            font-family: "Courier New", "Monaco", monospace;
            font-family: "Microsoft Sans Serif", serif;
            font-weight: bold;
            text-decoration: underline;
            transform-style: flat;
            transition: all 250ms ease-out;

            &:before {
                content: "";
                position: absolute;
                z-index: -2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 250ms ease-out;
            }
            &:hover {
                margin: 0 0.9rem;
                padding: 0 0.1rem;
                cursor: pointer;
                text-decoration: none;

                &:before {
                    box-shadow: 0 0 2rem 0 rgba(255, 255, 0, 0.75);
                }
            }
        }
        @media @da_baseline {
            width: 50%;

            > span:active {
                margin: 0 0.5rem;
                padding: 0 0.5rem;
            }
        }
        @media @da_small {
            &:nth-child(1) {
                width: 21%;
            }
            &:nth-child(2) {
                width: 24%;
            }
            &:nth-child(3) {
                width: 30%;
            }
            &:nth-child(4) {
                width: 25%;
            }
            > span {
                height: 7.5rem;

                &:active {
                    margin: 0 0.6rem;
                    padding: 0 0.4rem;               
                }
            }
        }
        @media @da_medium {
            &:nth-child(1) {
                width: 23%;
            }
            &:nth-child(2) {
                width: 20%;
            }
            &:nth-child(3) {
                width: 30%;
            }
            &:nth-child(4) {
                width: 27%;
            }
            > span {
                height: auto;
                
                &:active {
                    margin: 0 0.7rem;
                    padding: 0 0.3rem;             
                }
            }
        }
        @media @da_large {
            span span {
                padding: 0 1rem;
            }
        }
        &:nth-child(1) {
            > span {
                background-color: #0F6;
                color: #F0F;

                &:hover {
                    color: #F3F;
                    background-color: #0E3;
                }
                span:before {
                    content: "Click HERE for ";
                }
            }
        }
        &:nth-child(2) {
            > span {
                background-color: #906;
                color: #FCC;

                &:hover {
                    color: #FDD;
                    background-color: #903;
                }
                span:before {
                    content: "My ";
                }
                span:after {
                    content: ": click here....";
                }
            }
        }
        &:nth-child(3) {
            > span {
                background-color: #F0C;
                color: #6F0;

                &:hover {
                    color: #9F0;
                    background-color: #E09;
                }
                span:before {
                    content: "CLONE my *";
                }
                span:after {
                    content: " Repo* today!";
                }
            }
        }
        &:nth-child(4) {
            > span {
                background-color: #C9F;
                color: #6FC;

                &:hover {
                    color: #9FD;
                    background-color: #96F;
                }
                span:after {
                    content: " - please click here~~";
                }
            }
        }
    }
    a {
        display: none;
    }
}
