.starfield {
    background: transparent url("@{img_path}space_bg.gif") repeat scroll 0 bottom; 
}


[data-header-panel] {
    box-sizing: border-box;
    margin-right: 1rem;

    a {
        display: block;
        border: 0.2rem solid #00F;
    }
    img {
        width: 100%;
    }

    @media @mq_2x_small {
        display: none;
    }
    @media @mq_small {
        float: left;
        display: block;
        width: ((2 / 12) * @pw_small) - 1;
        margin-top: 1rem;
    }
    @media @mq_medium {
        width: ((2 / 12) * @pw_medium) - 1;
    }
    @media @mq_large {
        width: ((2 / 12) * @pw_large) - 1;
    }
    @media @mq_x_large {
        width: ((2 / 12) * @pw_x_large) - 1;
    }
}


.before_text_1 {
    &:before {
        content: "<FONT SIZE=\"4\"";
        font-weight: normal;
    }
}

.geocities_me {
    h3, p, li {
        color: #FF0;
    }
    h3 {
        font-size: 2rem;
        line-height: 3rem;
    }
    p, li {
        font-size: 1.5rem;
        line-height: 2.0rem;
    }
    ul {
        padding: 0 0 2rem 0;
    }
    li {
        padding: 0 0 0rem 2rem;
        list-style-type: none;
        // list-style-position: inside;
        // list-style-image: url("@{img_path}ball_14x14.gif");
        background: transparent  url("@{img_path}ball_14x14.gif") scroll no-repeat 0 0.2rem;
    }
}


.icon_box {
    width: 4rem;
    height: 4rem;
    background-image:
        linear-gradient(0deg, #BEBEBE 0%, #BEBEBE 100%),
        linear-gradient(0deg, #E6E6FA 0%, #E6E6FA 100%),
        linear-gradient(0deg, #E6E6FA 0%, #E6E6FA 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #BEBEBE 0%, #BEBEBE 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #2F4F4F 0%, #2F4F4F 100%),
        linear-gradient(0deg, #E6E6FA 0%, #E6E6FA 100%);
    background-size:
        3.2rem 3.2rem, 3.4rem 0.1rem, 0.1rem 3.4rem, 3.4rem 3.4rem, 3.6rem 3.6rem,
        4rem 0.1rem, 3.8rem 0.1rem, 0.1rem 4rem, 0.1rem 3.8rem, 4rem 4rem;
    background-position:
        0.4rem 0.4rem, 0.3rem 3.6rem, 3.6rem 0.3rem, 0.3rem 0.3rem, 0.2rem 0.2rem,
        0rem 3.9rem, 0.1rem 3.8rem, 3.9rem 0rem, 3.8rem 0.1rem, 0 0;
    background-repeat: no-repeat;
}

@icon_size_retina: 10rem 20rem;
@icon_size_full: 20rem 40rem;
[data-sprite] {
    background-image: url("@{img_path}icon_logo_sprites.png");
    background-repeat: no-repeat;
}
[data-sprite="email"] {
    background-position: 0 0;
    background-size: @icon_size_retina;
    width: 3.2rem;
    height: 3.2rem;

    .icon_box & {
        width: 4rem;
        height: 4rem;
        background-position: 0.4rem 0.4rem;
    }
}
[data-sprite="netscape_8831"] {
    background-size: @icon_size_retina;
    width: 8.8rem;
    height: 3.1rem;
    background-position: 0rem -10rem;
}
[data-sprite="broken_image"] {
    background-size: @icon_size_retina;
    background-position: 0.3rem -4.7rem;
    width: 31px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: @wdg @wlg @wlg @wdg;
    padding: 0.3rem 0.4rem 0.3rem 0.3rem;

}
[data-sprite="tripod_125x71"] {
    background-size: @icon_size_full;
    width: 12.5rem;
    height: 7.1rem;
    background-position: 0rem -30rem;
}



.centered_image {
    margin: 0 auto;

    img, [data-sprite] {
        margin: 0 auto;
    }
}
.with_border {
    img {
        border: 0.2rem solid #00F;
        padding: 0.3rem;
    }
}

.rainbow_gradient {
    background-image: linear-gradient(90deg, #000020 0%, #000871 5%, #0021c2 10%, #004ff7 15%,
            #008dff 20%, #00cad9 25%, #01f88f 30%, #00ff3f 35%, #00f609 40%, #00d400 45%,
            #00a400 50%, #0a6900 55%, #502a00 60%, #a80000 65%, #f80000 70%, #ff0000 75%,
            #ff1400 80%, #ff8c00 85%, #ffe600 90%, #ffff2e 95%, #FFFFFF 100%);
}

.dancing_baby {
    margin: 0 auto;
    background-image: url("@{img_path}dancing_baby_170x230.gif");

    @media @mq_2x_small {
        width: 8.5rem;
        height: 11.5rem;
        background-size: 8.5rem 11.5rem;
    }
    @media @mq_small {
        width: 17rem;
        height: 23rem;
        background-size: 17rem 23rem;
    }

    body > header & {
        position: absolute;
        top: 0;
        @media @mq_2x_small {
            right: 0;
        }
        @media @mq_medium {
            right: auto;
            left: 50%;
            margin-left: (@pw_medium / 2) - 17;
        }
        @media @mq_large {
            margin-left: (@pw_large / 2) - 17;
        }
        @media @mq_x_large {
            margin-left: (@pw_large / 2) - 17;
        }
    }
}

.old_school_table {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #CCC #515151 #515151 #CCC;
    border-spacing: 0.5rem;
    border-collapse: separate;

    tr {
    }
    td {
        display: block; 
        text-align: center;
        padding: 0.5rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: #515151 #CCC #CCC #515151;
    }
    @media @mq_2x_small {
        dispalay: block;
        width: 100%;

        tr, td {
            display: block;
        }
        td {
            margin-bottom: 0.5rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
        img {
            max-width: 100%;
        }
    }
    @media @mq_medium {
        display: table;

        tr {
            display: table-row;
        }
        td {
            display: table-cell;
            margin-bottom: 0;
        }
        img {
            width: auto;
        }
    }
}



.social_fu {
    overflow: auto;
    padding: 0 0 2rem 0;

    li {
        display: block;
        float: left;
        box-sizing: border-box;

        > span {
            display: block;
            font-size: 2rem;
            line-height: 2.5rem;
            margin: 0 1rem;
            font-weight: bold;
            font-family: "Courier New", "Monaco", monospace;
            font-family: "Microsoft Sans Serif", serif;
            font-weight: bold;
            text-decoration: underline;
        }
        &:nth-child(1) {
            width: 23%;

            > span {
                background-color: #0F6;
                color: #F0F;

                span:before {
                    content: "Click HERE for ";
                }
            }
        }
        &:nth-child(2) {
            width: 20%;

            > span {
                background-color: #906;
                color: #FCC;

                span:before {
                    content: "My ";
                }
                span:after {
                    content: ": click here....";
                }
            }
        }
        &:nth-child(3){
            width: 30%;
            
            > span {
                background-color: #F0C;
                color: #6F0;

                span:before {
                    content: "CLONE my *";
                }
                span:after {
                    content: " Repo* today!";
                }
            }
        }
        &:nth-child(4) {
            width: 27%;
            
            > span {
                background-color: #C9F;
                color: #6FC;

                span:after {
                    content: " - please click here~~";
                }
            }
        }
    }
    a {
        display: none;
    }

}
