#frames_foo {
    padding: 0.3rem 0 0.5rem 0;
    overflow: auto;
    position: relative;
    display: table;
    width: 100%;
    background-image:
        linear-gradient(0deg, @wlg 0%, @wlg 100%),

        linear-gradient(0deg, @wlg 0%, @wlg 100%),
        linear-gradient(0deg, @wlg 0%, @wlg 100%),
        linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%),
        linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%),

        linear-gradient(0deg, @wdg 0%, @wdg 100%),
        linear-gradient(0deg, @wdg 0%, @wdg 100%),
        linear-gradient(0deg, @wlg 0%, @wlg 100%),
        linear-gradient(0deg, @wlg 0%, @wlg 100%),

        linear-gradient(0deg, #000000 0%, #000000 100%),
        linear-gradient(0deg, #000000 0%, #000000 100%),
        linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%),
        linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%),

        linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%),
        linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 100%);
    background-size:
        100% 0.2rem,
        0.1rem 100%, 100% 0.1rem, 0.1rem 100%, 100% 0.3rem,
        0.2rem 100%, 100% 0.2rem, 0.2rem 100%, 100% 0.4rem,
        0.3rem 100%, 100% 0.3rem, 0.3rem 100%, 100% 0.5rem,
        100% 0.4rem, 0.4rem 100%;
    background-position: 
        0 100%,
        0 0,0 0,100% 0%,0% 100%,
        0 0,0 0,100% 0%,0% 100%,
        0 0,0 0,100% 0%,0% 100%,
        0 0,0 0;
    background-repeat: no-repeat;

    @media @mq_2x_small {
        display: block;
    }
    @media @mq_small {
        display: table;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0.3rem;
        right: 75%;
        bottom: 0.4rem;
        width: 0.8rem;
        background-color: #FFF;
        background-repeat: no-repeat;
        @media @mq_2x_small {
            background-image:
                linear-gradient(90deg, @wlg 0.0rem, @wlg 0.1rem,
                    #FFF 0.1rem, #FFF 0.2rem);
            background-size:
                0.2rem 100%;
            background-position:
                0.1rem 0;
            display: none;
        }
        @media @mq_small {
            background-image:
                linear-gradient(90deg, @wlg 0.0rem, @wlg 0.1rem,
                    #FFF 0.1rem, #FFF 0.2rem, @wlg 0.2rem, @wlg 0.4rem,
                    @wdg 0.4rem, @wdg 0.5rem, #000 0.5rem);
            background-size:
                0.6rem 100%;
            background-position:
                0.1rem 0;
        }
    }
}
.frames_column {
    @media @mq_2x_small {
        display: block;
    }
    @media @mq_small {
        display: table-cell;
    }
}
.frames_nav_column {
    box-sizing: border-box;
    background-image:
        linear-gradient(90deg, @wlg 0, @wlg 0.1rem, @wdg 0.1rem, @wdg 0.2rem,
            #000 0.2rem, #000 0.3rem, #FFF 0.3rem),
        linear-gradient(0deg, #FFF 0%, #FFF 100%);
    background-size: 0.4rem 100%, 100% 0.1rem;
    background-position: 0 0;
    background-repeat: no-repeat;

    @media @mq_2x_small {
        min-height: 10rem;
        width: 100%;
    }
    @media @mq_small {
        width: 25%;
    }
    @media @mq_medium {
        section {
            float: right;
            width: 0.25 * @pw_medium;
        }
    }
    @media @mq_large {
        section {
            float: right;
            width: 0.25 * @pw_large;
        }
    }
    @media @mq_x_large {
        section {
            float: right;
            width: 0.25 * @pw_x_large;
        }
    }
}
.frames_main_column {
    box-sizing: border-box;
    padding: 0 1.9rem 5rem 0;
    background-image:
        linear-gradient(90deg, #FFF 0, #FFF 0.1rem, @wlg 0.1rem, @wlg 0.2rem, #FFF 0.2rem),
        url("@{img_path}fire_600x50.gif");
    background-size: 0.3rem 100%, 60rem 5rem;

    @media @mq_2x_small {
        width: 100%;
        background-position: 100% 0, 0.4rem 100%;
        background-repeat: no-repeat;
        margin-bottom: 1.6rem;
    }
    @media @mq_small {
        width: 75%;
        margin-bottom: 0;
        background-position: 100% 0, 0 100%;
        background-repeat: no-repeat, repeat-x;
    }
    @media @mq_medium {
        section {
            width: 0.75 * @pw_medium;
        }
    }
    @media @mq_large {
        section {
            width: 0.75 * @pw_large;
        }
    }
    @media @mq_x_large {
        section {
            width: 0.75 * @pw_x_large;
        }
    }
}
.frames_arrows {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("@{img_path}win95_sprites.png");
}
.frames_scrollbar {
    position: absolute;
    top: 0.4rem;
    right: 0.3rem;
    bottom: 0.5rem;
    width: 1.6rem;
    background-color: #FFF;
    background-image:
        linear-gradient(45deg, @wlg 25%, transparent 25%, transparent 75%, @wlg 75%, @wlg), 
        linear-gradient(45deg, @wlg 25%, transparent 25%, transparent 75%, @wlg 75%, @wlg);
    background-size: 0.2rem 0.2rem;
    background-position: 0 0, 0.1rem 0.1rem;

    &:before, &:after {
        content: "";
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url("@{img_path}win95_sprites.png");
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        left: 0;
        background-position: -1.6rem 0;
    }
    span {
        top: 1.6rem;
        bottom: 33%;
        width: 1.6rem;
    }
}
.frames_scrollbar + .frames_scrollbar {

    &:after {
        bottom: 1.6rem;
    }
    span {
        bottom: 67%;
    }
    @media @mq_2x_small {
        right: 0;
        margin-right: 0.2rem;
    }
    @media @mq_small {
        right: 75%;
        margin-right: 0.8rem;
    }
}
.frames_horizontal_scroll {
    position: absolute;
    height: 1.6rem;
    bottom: 0.5rem;
    background-color: #FFF;
    background-image:
        linear-gradient(0deg, @wlg 0%, @wlg 100%),
        linear-gradient(45deg, @wlg 25%, transparent 25%, transparent 75%, @wlg 75%, @wlg), 
        linear-gradient(45deg, @wlg 25%, transparent 25%, transparent 75%, @wlg 75%, @wlg);
    background-size: 
        2.4rem 1.6rem,
        0.2rem 0.2rem,
        0.2rem 0.2rem;
    background-position:
        100% 100%,
        0 0,
        0.1rem 0.1rem;
    background-repeat:
        no-repeat,
        repeat,
        repeat; 

    @media @mq_2x_small {
        right: 0;
        left: 0.2rem;
    }
    @media @mq_small {
        right: 75%;
        left: 0.4rem;
    }
    &:before, &:after {
        content: "";
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url("@{img_path}win95_sprites.png");
    }
    &:before {
        top: 0;
        left: 0;
        background-position: -3.2rem 0;
    }
    &:after {
        top: 0;
        background-position: -4.8rem 0;

        @media @mq_2x_small {
            right: 1.9rem;
        }
        @media @mq_small {
            right: 2.4rem;
        }
    }
    span {
        left: 1.6rem;
        right: 25%;
        height: 1.6rem;
    }
}
.frames_scrollbar, .frames_horizontal_scroll {
    span {
        position: absolute;
        display: block;
        background-color: #C0C0C0;
        background-image:
            linear-gradient(0deg, #000 0, #000 100%),
            linear-gradient(0deg, #000 0, #000 100%),
            linear-gradient(0deg, #C0C0C0 0, #C0C0C0 100%),
            linear-gradient(0deg, #C0C0C0 0, #C0C0C0 100%),
            linear-gradient(0deg, #808080 0, #808080 100%),
            linear-gradient(0deg, #808080 0, #808080 100%),
            linear-gradient(0deg, #FFF 0, #FFF 100%),
            linear-gradient(0deg, #FFF 0, #FFF 100%);
        background-size: 
            100% 0.1rem,
            0.1rem 100%,
            100% 0.1rem,
            0.1rem 100%,
            100% 0.2rem,
            0.2rem 100%,
            100% 0.2rem,
            0.2rem 100%;
        background-position: 
            0 100%,
            100% 0,
            0 0,
            0 0,
            0 100%,
            100% 0,
            0 0,
            0 0;
        background-repeat: no-repeat;
    }
}
.frames_start_bar {
    height: 1.7rem;
    background-image:
        url("@{img_path}win95_sprites.png"),
        url("@{img_path}win95_sprites.png"),
        linear-gradient(180deg, @wdg 0.0rem, @wdg 0.1rem,
            @wlg 0.1rem, @wlg 1.5rem, #FFF 1.5rem, #FFF 1.6rem,
            @wlg 1.6rem, @wlg 1.6rem);
    background-size: 16rem 6rem, 16rem 6rem, 100% 1.7rem;
    background-position: 0 -2rem, 100% -4rem, 0 0;
    background-repeat: no-repeat;
}