// paths
@img_path: "../images/css/";

// paths
@font_path: "/src/fonts/";


// Windows 95 design colors

// Windows Light Grey
@wlg: #C0C0C0;
// Windows Dark Grey
@wdg: #808080;

.font_subtext {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.font_standard {
    font-size: 1.4rem;
    line-height: 2rem;
}
.font_subheading {
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.font_heading {
    font-size: 3rem;
    line-height: 4rem;
}