// paths
@img_path: "/src/images/css/";


// media queries

@mq_2x_small:   ~"only screen and (min-width: 320px)";
@mq_x_small:    ~"only screen and (min-width: 568px)";
@mq_small:      ~"only screen and (min-width: 768px)";
@mq_medium:     ~"only screen and (min-width: 1024px)";
@mq_large:      ~"only screen and (min-width: 1280px)";
@mq_x_large:    ~"only screen and (min-width: 1440px)";

@pw_2x_small: 100%;
@pw_x_small: 100%;
@pw_small: 76.8rem;
@pw_medium: 96rem;
@pw_large: 115.2rem;
@pw_x_large: 129.6rem;

// Windows 95 design colors

// Windows Light Grey
@wlg: #C0C0C0;
// Windows Dark Grey
@wdg: #808080;