 html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    padding: 0;
    font-size: 100%;
    height: 100%;
    position: relative;
    text-rendering: optimizelegibility;
    font-size: 1em;
    line-height: 1;

    > h1 {
        position: absolute;
        font-size: 4.5rem;
        line-height: 6rem;
        z-index: 5;

        @media @mq_2x_small {
            left: 0;
            top: 7.5rem;
            font-size: 4rem;
            line-height: 6rem;
            text-align: center;
            width: @pw_2x_small;
        }
        @media @mq_x_small {
            text-align: left;
            width: @pw_x_small;
            margin-left: 1.6rem;
        }
        @media @mq_small {
            left: 50%;
            top: 7.5rem;
            font-size: 4.5rem;
            line-height: 6rem;
            width: auto;
            margin-left: (-1 * @pw_small * (4 / 12)) + 2.6;
        }
        @media @mq_medium {
            margin-left: (-1 * @pw_medium * (4 / 12)) + 2.6;
        }
        @media @mq_large {
            margin-left: (-1 * @pw_large * (4 / 12)) + 2.6;
        }
        @media @mq_x_large {
            margin-left: (-1 * @pw_x_large * (4 / 12)) + 2.6;
        }
    }
    > header {
        overflow: auto;
        background-image: url("@{img_path}under_construction_572x44.gif"), url("@{img_path}space_bg.gif");
        background-repeat: no-repeat, repeat;
        background-position: center 0.3rem, 0 bottom;

        > span {
            display: block;
            display: none;
            color: #FFF;
            font-size: 1.2rem;
            height: 1.5rem;
        }
        & + article {
            background: #000 url("@{img_path}space_bg.gif") scroll repeat 0 0;
        }
        > div {
            box-sizing: border-box;
            margin: 0 auto;
            overflow: auto;
        }

    }
    > article {
        clear: both;

        > section {
            box-sizing: border-box;
            margin: 0 auto;
            position: relative;
            clear: both;

            &:last-of-type {
                padding-bottom: 2rem;
            }
        }
    }
    > footer { 
        background-image: url("@{img_path}fire_600x50.gif"), url("@{img_path}space_bg.gif");
        background-repeat: repeat-x, repeat;
        background-position: 0 100%, 0 0;
        padding: 0 0 5rem 0;

        > section {
            padding: 2rem 0;
            margin: 0 auto;
        }
        p, h2 {
            color: #FF0;
            text-align: center;
            font: normal normal normal 1.5rem/2rem "Times New Roman", serif;
            padding: 0 0 2rem 0;         
        }
    }
}
body, table, td,
ul,
h1, h2, h3, h4, p, img {
    margin: 0;
}
img {
    display: block;
    p & {
        display: inline;
    }
}
p {
    font: normal normal bold 18px/25px 'Microsoft Sans Serif', sans-serif;
    /*font: normal normal normal 50px/50px Helvetica, Arial, sans-serif;*/
    color: #000;
}
hr {
    height: 2px;
    border: 0;
    margin: 19px auto;
    padding: 0;
}

