@media @da_baseline {
    body > header > *,
    body > article > section,
    body > footer > section {
        width: 100%;
    }
}
@media @da_2x_small {
    body > header > *,
    body > article > section,
    body > footer > section {
        width: 100%;
    }
}
@media @da_x_small {
    body > header > *,
    body > article > section,
    body > footer > section {
        width: 100%;
    }
}
@media @da_small {
    body > header > *,
    body > article > section,
    body > footer > section {
        width: @pw_small;
    }
}
@media @da_medium {
    body > header > *,
    body > article > section,
    body > footer > section {
        width: @pw_medium;
    }
}
@media @da_large {
    body > header > *,
    body > article > section,
    body > footer > section {
        width: @pw_large;
    }
}
@media @da_x_large {
    body > header > *,
    body > article > section,
    body > footer > section {
        width: @pw_x_large;
    }
}



