

#riley {
    background-color: rgba(115, 194, 251, 0.5);
    position: relative;
    overflow-x: hidden;
    // width: 87.2rem;

    h2 {
        margin-top: 1rem;
        font-weight: normal;
        .font_heading;

        @media @da_baseline {
        }
        @media @da_small {
            position: absolute;
            z-index: 1;
            left: 50%;
            margin-left: -0.5 * @pw_small; 
        }
        @media @da_medium {
            left: 50%;
            margin-left: -0.5 * @pw_medium; 
        }
        @media @da_large {
            margin-left: -0.5 * @pw_large; 
        }
        @media @da_x_large {
            margin-left: -0.5 * @pw_x_large; 
        }
    }
    section {
        padding-top: 6rem;

        @media @da_baseline {
            background-position: 100% 100%;
        }
        @media @da_small {
            padding-right: (1 / 6) * @pw_x_small;
            background-position: ((5 / 6) * @pw_x_small) 0;
        }
        @media @da_small {
            padding-right: (1 / 6) * @pw_small;
            background-position: ((5 / 6) * @pw_small) 0;
        }
        @media @da_medium {
            padding-right: (1 / 6) * @pw_medium;
            background-position: ((5 / 6) * @pw_medium) 0;
        }
        @media @da_large {
            padding-right: (1 / 6) * @pw_large;
            background-position: ((5 / 6) * @pw_large) 0;
        }
        @media @da_x_large {
            padding-right: (1 / 6) * @pw_x_large;
            background-position: ((5 / 6) * @pw_x_large) 0;
        }
    }
    h3 {
        .font_subheading;
        padding-bottom: 0.5rem;
    }
    ul {
        padding: 0 2rem 2rem 0;
    }
    li {
        .font_standard;
    }
}

.riley_test {
    height: 200px;
    background-repeat: repeat-y;
}


// blue
@rb_b1: #0090D9;
@rb_b2: #388AED;
@rb_b3: #008DDB;
@rb_b4: #068ECA;
@rb_b5: #0097DF;
@rb_b6: #0093DE;
@rb_b7: #3694ED;
@rb_b8: #4192F0;
@rb_b9: #009AE5;
@rb_b0: #2799F3;
// pink
@rb_p1: #D3707E;
@rb_p2: #CD6472;
@rb_p3: #D46773;
// black
@rb_k1: #202B3D;
@rb_k2: #182A46;
// white
@rb_w1: #E2EBF7;
@rb_w2: #EFF2F6;
// yellow
@rb_y1: #D4A934;
@rb_y2: #CFA632;
@rb_y3: #D8AD34;


.riley_bg {
    /*min-height: 200px;*/
    background-image: linear-gradient(90deg,
        @rb_b1 0.0rem,  @rb_b1 0.8rem,  @rb_p1 0.8rem,  @rb_p1 1.6rem,  @rb_b2 1.6rem,  @rb_b2 2.4rem,
        @rb_y1 2.4rem,  @rb_y1 3.2rem,  @rb_b3 3.2rem,  @rb_b3 4.0rem,  @rb_p2 4.0rem,  @rb_p2 4.8rem,
        @rb_b3 4.8rem,  @rb_b3 5.6rem,  @rb_p2 5.6rem,  @rb_p2 6.4rem,  @rb_k1 6.4rem,  @rb_k1 7.2rem,
        @rb_y1 7.2rem,  @rb_y1 8.0rem,  @rb_b4 8.0rem,  @rb_b4 8.8rem,  @rb_p2 8.8rem,  @rb_p2 9.6rem,
        @rb_b2 9.6rem,  @rb_b2 10.4rem, @rb_p2 10.4rem, @rb_p2 11.2rem, @rb_w1 11.2rem, @rb_w1 12.0rem,
        @rb_b1 12.0rem, @rb_b1 12.8rem, @rb_p2 12.8rem, @rb_p2 13.6rem, @rb_b2 13.6rem, @rb_b2 14.4rem,
        @rb_y1 14.4rem, @rb_y1 15.2rem, @rb_b3 15.2rem, @rb_b3 16.0rem, @rb_y1 16.0rem, @rb_y1 16.8rem,
        @rb_b4 16.8rem, @rb_b4 17.6rem, @rb_k2 17.6rem, @rb_k2 18.4rem, @rb_y1 18.4rem, @rb_y1 19.2rem,
        @rb_b2 19.2rem, @rb_b2 20.0rem, @rb_w1 20.0rem, @rb_w1 20.8rem, @rb_p2 20.8rem, @rb_p2 21.6rem,
        @rb_b5 21.6rem, @rb_b5 22.4rem, @rb_p3 22.4rem, @rb_p3 23.2rem, @rb_k2 23.2rem, @rb_k2 24.0rem,
        @rb_b2 24.0rem, @rb_b2 24.8rem, @rb_y1 24.8rem, @rb_y1 25.6rem, @rb_b3 25.6rem, @rb_b3 26.4rem,
        @rb_p2 26.4rem, @rb_p2 27.2rem, @rb_b3 27.2rem, @rb_b3 28.0rem, @rb_w1 28.0rem, @rb_w1 28.8rem,
        @rb_b2 28.8rem, @rb_b2 29.6rem, @rb_b1 29.6rem, @rb_b1 30.4rem, @rb_p2 30.4rem, @rb_p2 31.2rem,
        @rb_b6 31.2rem, @rb_b6 32.0rem, @rb_y1 32.0rem, @rb_y1 32.8rem, @rb_b2 32.8rem, @rb_b2 33.6rem,
        @rb_k2 33.6rem, @rb_k2 34.4rem, @rb_b6 34.4rem, @rb_b6 35.2rem, @rb_p2 35.2rem, @rb_p2 36.0rem,
        @rb_b2 36.0rem, @rb_b2 36.8rem, @rb_y1 36.8rem, @rb_y1 37.6rem, @rb_b2 37.6rem, @rb_b2 38.4rem,
        @rb_w1 38.4rem, @rb_w1 39.2rem, @rb_y1 39.2rem, @rb_y1 40.0rem, @rb_b2 40.0rem, @rb_b2 40.8rem,
        @rb_y1 40.8rem, @rb_y1 41.6rem, @rb_b2 41.6rem, @rb_b2 42.4rem, @rb_p2 42.4rem, @rb_p2 43.2rem,
        @rb_k1 43.2rem, @rb_k1 44.0rem, @rb_b2 44.0rem, @rb_b2 44.8rem, @rb_y1 44.8rem, @rb_y1 45.6rem,
        @rb_b2 45.6rem, @rb_b2 46.4rem, @rb_b6 46.4rem, @rb_b6 47.2rem, @rb_y3 47.2rem, @rb_y3 48.0rem,
        @rb_b6 48.0rem, @rb_b6 48.8rem, @rb_w1 48.8rem, @rb_w1 49.6rem, @rb_y1 49.6rem, @rb_y1 50.4rem,
        @rb_b2 50.4rem, @rb_b2 51.2rem, @rb_p3 51.2rem, @rb_p3 52.0rem, @rb_b6 52.0rem, @rb_b6 52.8rem,
        @rb_k2 52.8rem, @rb_k2 53.6rem, @rb_y3 53.6rem, @rb_y3 54.4rem, @rb_b6 54.4rem, @rb_b6 55.2rem,
        @rb_y3 55.2rem, @rb_y3 56.0rem, @rb_w1 56.0rem, @rb_w1 56.8rem, @rb_p3 56.8rem, @rb_p3 57.6rem,
        @rb_b7 57.6rem, @rb_b7 58.4rem, @rb_k1 58.4rem, @rb_k1 59.2rem, @rb_y1 59.2rem, @rb_y1 60.0rem,
        @rb_b2 60.0rem, @rb_b2 60.8rem, @rb_y1 60.8rem, @rb_y1 61.6rem, @rb_p3 61.6rem, @rb_p3 62.4rem,
        @rb_b5 62.4rem, @rb_b5 63.2rem, @rb_y1 63.2rem, @rb_y1 64.0rem, @rb_b6 64.0rem, @rb_b6 64.8rem,
        @rb_w1 64.8rem, @rb_w1 65.6rem, @rb_y3 65.6rem, @rb_y3 66.4rem, @rb_b5 66.4rem, @rb_b5 67.2rem,
        @rb_y3 67.2rem, @rb_y3 68.0rem, @rb_b8 68.0rem, @rb_b8 68.8rem, @rb_p3 68.8rem, @rb_p3 69.6rem,
        @rb_k1 69.6rem, @rb_k1 70.4rem, @rb_y3 70.4rem, @rb_y3 71.2rem, @rb_b9 71.2rem, @rb_b9 72.0rem,
        @rb_y3 72.0rem, @rb_y3 72.8rem, @rb_b8 72.8rem, @rb_b8 73.6rem, @rb_p1 73.6rem, @rb_p1 74.4rem,
        @rb_b8 74.4rem, @rb_b8 75.2rem, @rb_b5 75.2rem, @rb_b5 76.0rem, @rb_w1 76.0rem, @rb_w1 76.8rem,
        @rb_b5 76.8rem, @rb_b5 77.6rem, @rb_y3 77.6rem, @rb_y3 78.4rem, @rb_b7 78.4rem, @rb_b7 79.2rem,
        @rb_b5 79.2rem, @rb_b5 80.0rem, @rb_p3 80.0rem, @rb_p3 80.8rem, @rb_b8 80.8rem, @rb_b8 81.6rem,
        @rb_k2 81.6rem, @rb_k2 82.4rem, @rb_p1 82.4rem, @rb_p1 83.2rem, @rb_b8 83.2rem, @rb_b8 84.0rem,
        @rb_y1 84.0rem, @rb_y1 84.8rem, @rb_b8 84.8rem, @rb_b8 85.6rem, @rb_b9 85.6rem, @rb_b9 86.4rem,
        @rb_b0 86.4rem, @rb_b0 87.2rem);
    background-size: 87.2rem 100%;
    background-repeat: no-repeat;
}
#riley_foo {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #0CC;
    bottom: 0;
    left: 50%;
    @media @da_baseline {
        display: none;
    }
    @media @da_2x_small {
    }
    @media @da_x_small {
        left: 83.3333%;
        margin-left: 0;
    }
    @media @da_small {
        display: block;
        left: 83.3333%;
        margin-left: 0;
    }
    @media @da_medium {
        left: 50%;
        margin-left: 48rem;
        background-position: -16rem 0;
    }
    @media @da_large {
        margin-left: 57.6rem;
        background-position: -19.2rem 0;
    }
    @media @da_x_large {
        margin-left: 64.8rem;
        background-position: -21.6rem 0;
    }
}