
<div id="watch_data">

    <header role="banner" class="bellmaker_container">
        <h1>Watches ({{ watchData.length }})</h1>
        <p>By <a href="/" title="Here, Read This">Here, Read This</a></p>
    </header>

    <div class="bellmaker_container">
        <!-- <pre>{{ newKeys | json}}</pre> -->
        <table>
            <thead>
                <th><p><a href ng-click="sortCol('companyName')">Company Name</a></p></th>
                <th><p><a href ng-click="sortCol('companyType')">Company Type</a></p></th>
                <th><p><a href ng-click="sortCol('founded')">Founded</a></p></th>
                <th><p><a href ng-click="sortCol('nationality')">Nationality</a></p></th>
                <th><p><a href ng-click="sortCol('parentID')">Parent Company</a></p></th>
            </thead>
            <tbody>
                <tr ng-repeat="row in watchData | orderBy:colOrder.type:colOrder.reverse">
                    <td><p><a href ng-bind-html="row.companyName"
                              ng-click="launchWatchModal(row.id)"></a></p>
                              <p ng-if="row.showModal === true">Show Modal</p></td>
                    <td><p ng-bind-html="row.companyType"></p></td>
                    <td><p ng-bind-html="row.founded"></p></td>
                    <td><p ng-bind-html="row.nationality"></p></td>
                    <td><p ng-bind-html="row.parentCompany"></p></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <th><p><a href ng-click="sortLicense('companyName')">Company Name</a></p></th>
                <th><p><a href ng-click="sortLicense('founded')">Founded</a></p></th>
                <th><p><a href ng-click="sortLicense('nationality')">Nationality</a></p></th>
                <th><p><a href ng-click="sortLicense('parentID')">Parent Company</a></p></th>
            </thead>
            <tbody>
                <tr ng-repeat="row in licencedCompanies | orderBy:licenseOrder.type:licenseOrder.reverse">
                    <td><p ng-bind-html="row.companyName"></p></td>
                    <td><p ng-bind-html="row.founded"></p></td>
                    <td><p ng-bind-html="row.nationality"></p></td>
                    <td><p ng-bind-html="row.parentCompany"></p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="watch_popup" ng-show="showWatchDetail">
    <p>{{ watchDetail.title }}</p>
</div>
