#frames_foo {
    overflow: auto;
    position: relative;
    display: table;
    width: 100%;
    background-image:
    linear-gradient(0deg, @wlg 0%, @wlg 100%),

    linear-gradient(0deg, @wlg 0%, @wlg 100%),
    linear-gradient(0deg, @wlg 0%, @wlg 100%),
    linear-gradient(0deg, #FFF 0%, #FFF 100%),
    linear-gradient(0deg, #FFF 0%, #FFF 100%),

    linear-gradient(0deg, @wdg 0%, @wdg 100%),
    linear-gradient(0deg, @wdg 0%, @wdg 100%),
    linear-gradient(0deg, @wlg 0%, @wlg 100%),
    linear-gradient(0deg, @wlg 0%, @wlg 100%),

    linear-gradient(0deg, #000 0%, #000 100%),
    linear-gradient(0deg, #000 0%, #000 100%),
    linear-gradient(0deg, #FFF 0%, #FFF 100%),
    linear-gradient(0deg, #FFF 0%, #FFF 100%),

    linear-gradient(0deg, #FFF 0%, #FFF 100%),
    linear-gradient(0deg, #FFF 0%, #FFF 100%);
    background-position:
    0 100%,
    0 0,0 0,100% 0%,0% 100%,
    0 0,0 0,100% 0%,0% 100%,
    0 0,0 0,100% 0%,0% 100%,
    0 0,0 0;
    background-repeat: no-repeat;
}
