// http://www.guidebookgallery.org/screenshots/macos80
// http://winmac.emuunlim.com/Images/Screenshots/OS8.jpg

@lg000: linear-gradient(0deg, #000 0%, #000 100%);
@lg00F: linear-gradient(0deg, #000 0%, #000 100%);
@lgD7D: linear-gradient(0deg, #CCC 0%, #CCC 100%);
@lgACA: linear-gradient(0deg, #999 0%, #999 100%);
@lgFFF: linear-gradient(0deg, #FFF 0%, #FFF 100%);

.nineties_img_box {
    display: block;
    position: fixed;
    background-color: rgba(127,0,127,0.75);
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 0;

    .bellmaker_container {
        height: 80vh;
        margin-top: 10vh;
        position: relative;

        background-image:
            @lgFFF,
            @lg000,
            @lgACA, @lgACA,
            @lgFFF, @lgFFF,
            @lgFFF, @lgFFF,
            @lgACA, @lgACA,
            @lg000, @lg000, @lg000, @lg000,
            @lg000, @lg000,
            @lgD7D;
/*
        background-size:
            calc(~"100% - 1.4rem") calc(~"100% - 2.9rem"),
            calc(~"100% - 1.2rem") calc(~"100% - 2.7rem"),
            calc(~"100% - 1.1rem") 0.1rem, 0.1rem calc(~"100% - 2.6rem"),
            calc(~"100% - 1.1rem") 0.1rem, 0.1rem calc(~"100% - 2.6rem"),
            calc(~"100% - 0.4rem") 0.1rem, 0.1rem calc(~"100% - 0.4rem"),
            calc(~"100% - 0.4rem") 0.1rem, 0.1rem calc(~"100% - 0.4rem"),
            100% 0.1rem, 0.1rem 100%, 100% 0.1rem, 0.1rem 100%,
            100% 0.1rem, 0.1rem 100%,
            calc(~"100% - 0.3rem") calc(~"100% - 0.3rem");

        background-position:
            0.6rem 2.2rem,
            0.5rem 2.1rem,
            0.4rem 2rem, 0.4rem 2rem,
            0.4rem calc(~"100% - 0.5rem"), calc(~"100% - 0.6rem") 2.1rem,
            0.1rem 0.1rem, 0.1rem 0.1rem,
            0.2rem calc(~"100% - 0.2rem"), calc(~"100% - 0.2rem") 0.2rem,
            -0.1rem 0, 0 -0.1rem, -0.1rem calc(~"100% - 0.1rem"), calc(~"100% - 0.1rem") -0.1rem,
            0.2rem 100%, 100% 0.2rem,
            0.1rem 0.1rem;
            */


        background-size:
            calc(~"100% - 2.8rem") calc(~"100% - 5.8rem"),
            calc(~"100% - 2.4rem") calc(~"100% - 5.4rem"),
            calc(~"100% - 2.2rem") 0.2rem, 0.2rem calc(~"100% - 5.2rem"),
            calc(~"100% - 2.2rem") 0.2rem, 0.2rem calc(~"100% - 5.2rem"),
            calc(~"100% - 0.8rem") 0.2rem, 0.2rem calc(~"100% - 0.8rem"),
            calc(~"100% - 0.8rem") 0.2rem, 0.2rem calc(~"100% - 0.8rem"),
            100% 0.2rem, 0.2rem 100%, 100% 0.2rem, 0.2rem 100%,
            100% 0.2rem, 0.2rem 100%,
            calc(~"100% - 0.6rem") calc(~"100% - 0.6rem");

        background-position:
            1.2rem 4.4rem,
            1.0rem 4.2rem,
            0.8rem 4.0rem, 0.8rem 4.0rem,
            0.8rem calc(~"100% - 1.0rem"), calc(~"100% - 1.2rem") 4.2rem,
            0.2rem 0.2rem, 0.2rem 0.2rem,
            0.4rem calc(~"100% - 0.4rem"), calc(~"100% - 0.4rem") 0.4rem,
            -0.2rem 0, 0 -0.2rem, -0.2rem calc(~"100% - 0.2rem"), calc(~"100% - 0.2rem") -0.2rem,
            0.4rem 100%, 100% 0.4rem,
            0.2rem 0.2rem;

        background-repeat: no-repeat;
    }
    h1, p, span {
        font-family: "charcoal";
        font-weight: 400;
    }
}
.nineties_img_container {
    position: absolute;
    //top: 2.2rem;
    //right: 0.8rem;
    //bottom: 0.7rem;
    //left: 0.6rem;
    top: 4.4rem;
    right: 1.6rem;
    bottom: 1.4rem;
    left: 1.2rem;

    .nineties_description {
        p {
            .font_standard;
            margin-bottom: 2rem;
        }
    }
    img {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }
}

.nineties_img_header {
    position: absolute;
    //top: 0.4rem;
    //right: 0.5rem;
    //left: 0.4rem;
    //height: 1.3rem;
    top: 0.8rem;
    right: 1.0rem;
    left: 0.8rem;
    height: 2.6rem;

    background-image:
        @lgFFF, @lgACA, @lgFFF, @lgACA,
        @lgFFF, @lgACA, @lgFFF, @lgACA,
        @lgFFF, @lgACA, @lgFFF, @lgACA;

    //background-size:
    //    calc(~"100% - 5.1rem") 0.2rem;

    //background-position:
    //    1.7rem 0.0rem, 1.8rem 0.1rem, 1.7rem 0.2rem, 1.8rem 0.3rem,
    //    1.7rem 0.4rem, 1.8rem 0.5rem, 1.7rem 0.6rem, 1.8rem 0.7rem,
    //    1.7rem 0.8rem, 1.8rem 0.9rem, 1.7rem 1.0rem, 1.8rem 1.1rem;

    background-size:
        calc(~"100% - 10.2rem") 0.2rem;

    background-position:
        3.4rem 0.0rem, 3.6rem 0.2rem, 3.4rem 0.4rem, 3.6rem 0.6rem,
        3.4rem 0.8rem, 3.6rem 1.0rem, 3.4rem 1.2rem, 3.6rem 1.4rem,
        3.4rem 1.6rem, 3.6rem 1.8rem, 3.4rem 2.0rem, 3.6rem 2.2rem;

    background-repeat: no-repeat;
}

.nineties_img_head_button {
    //width: 1.3rem;
    //height: 1.3rem;

    &, &:after {
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
    }

    &:hover {
        cursor: pointer;

        &:after {
            display: block;
        }
    }
    &.close {
        left: 0;
        background-position: 0 0;
    }
    &.resize {
        right: 3.2rem;
        //background-position: -2rem 0;
        background-position: -4rem 0;
    }
    &.minimize {
        right: 0;
        //background-position: -4rem 0;
        background-position: -8rem 0;
    }
    &:after {
        content: "";
        display: none;
        background-repeat: no-repeat;
        background-image:
            @lgFFF, @lgFFF,
            @lgACA, @lgACA;
        background-size:
            2.4rem 0.2rem, 0.2rem 2.4rem,
            2.4rem 0.2rem, 0.2rem 2.4rem;
        background-position:
            0 0, 0 0,
            0.2rem 2.4rem, 2.4rem 0.2rem;
    }
}

@head_text_padding: 1.4rem;
@kelly-kapowski: 19.4rem + @head_text_padding;
@macarena: 18.4rem + @head_text_padding;
@motorola-startac: 22.8rem + @head_text_padding;
@notorious-big: 20.2rem + @head_text_padding;
@princess-diana: 18.6rem + @head_text_padding;
@tamagotchi: 15.1rem + @head_text_padding;
@titanic: 8.6rem + @head_text_padding;
@x-files: 8.9rem + @head_text_padding;

.nineties_img_head_text {
    //height: 1.3rem;
    height: 2.6rem;
    position: absolute;

    &.pictures {
        left: 50%;
        //width: 6rem;
        //margin-left: -3rem;
        //background-position: 0 -2rem;
        width: 12rem;
        margin-left: -6rem;
        background-position: 0 -4rem;
    }
    &.free_text {
        left: 50%;
        text-align: center;
        //width: 12rem;
        margin-left: -6rem;
        font-size: 2.4rem;
        line-height: 2.6rem;
        letter-spacing: 0.1rem;
        background-image:
            @lgD7D, @lgD7D, @lgD7D, @lgD7D,
            @lgD7D, @lgD7D, @lgD7D, @lgD7D,
            @lgD7D, @lgD7D, @lgD7D, @lgD7D;
        background-repeat: no-repeat;
        background-size:
            calc(~"100% - 0.2rem") 0.2rem;

        background-position:
            0.0rem 0.0rem, 0.2rem 0.2rem, 0.0rem 0.4rem, 0.2rem 0.6rem,
            0.0rem 0.8rem, 0.2rem 1.0rem, 0.0rem 1.2rem, 0.2rem 1.4rem,
            0.0rem 1.6rem, 0.2rem 1.8rem, 0.0rem 2.0rem, 0.2rem 2.2rem;

        &.kelly-kapowski {
            width: @kelly-kapowski;
            margin-left: -0.5 * @kelly-kapowski;
        }
        &.macarena {
            width: @macarena;
            margin-left: -0.5 * @macarena;
        }
        &.motorola-startac {
            width: @motorola-startac;
            margin-left: -0.5 * @motorola-startac;
        }
        &.notorious-big {
            width: @notorious-big;
            margin-left: -0.5 * @notorious-big;
        }
        &.princess-diana {
            width: @princess-diana;
            margin-left: -0.5 * @princess-diana;
        }
        &.tamagotchi {
            width: @tamagotchi;
            margin-left: -0.5 * @tamagotchi;
        }
        &.titanic {
            width: @titanic;
            margin-left: -0.5 * @titanic;
        }
        &.x-files {
            width: @x-files;
            margin-left: -0.5 * @x-files;
        }
    }
}

.mac_os8_sprites {
    background-image: url("../../../assets/images/css/mac_os8_sprites.png");
    background-repeat: no-repeat;
    //background-size: 6rem 4rem;
    background-size: 12rem 12rem;
}

.disable_body_scroll {
    height: 100vh;
    overflow: hidden;
}
