<footer role="contentinfo" data-module="code_footer" class="text_container">
    <div id="footer_background" data-module="code_footer">
        <div class="bellmaker_container">
            <section class="content_container">
                <h4>Here, Read This Code: coding articles by Jimmy Ha for
                    <a href="/" title="Here, Read This">herereadthis.com</a>.
                </h4>
                <p class="creative_commons_license"><a rel="license" class="creative_commons_image"
                                                       href="http://creativecommons.org/licenses/by-sa/4.0/"
                                                       title="Creative Commons License"><img
                        src="http://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-sa.svg"
                        width="88" height="31"
                        alt="Creative Commons License"/></a>
                    <span><span property="dc:title">Here, Read This</span> by
                        <a xmlns:cc="http://creativecommons.org/ns#"
                           href="http://herereadthis.com"
                           property="cc:attributionName"
                           rel="cc:attributionURL">Jimmy Ha</a> is licensed under a
                        <a rel="license"
                           href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</span></p>

                <ul id="social_linking" class="navmenu">
                    <li>
                        <a href="https://www.facebook.com/HereReadThisPage">
                            {{> icon_facebook}}
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/herereadthis">
                            {{> icon_twitter}}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/herereadthis">
                            {{> icon_github}}
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/110556642392047316226" rel="publisher">
                            {{> icon_googleplus}}
                        </a>
                    </li>
                    <li>
                        <a href="http://www.pinterest.com/herereadthis/">
                            {{> icon_pinterest}}
                        </a>
                    </li>
                    <li>
                        <a href="http://vimeo.com/herereadthis">
                            {{> icon_vimeo}}
                        </a>
                    </li>
                </ul>


                <div>&nbsp;</div>
            </section>
        </div><!-- bellmaker_container -->
    </div><!-- #footer_background -->
</footer>
